# Environment variables (sensitive data)
.env

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Logs & temp files
*.log
*.tmp
*.wav
*.mp3

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/
